[submodule "aggregate"]
	path = aggregate
	url = https://hub.datalad.org/studyforrest/aggregate.git
[submodule "annotations"]
	path = annotations
	url = https://github.com/psychoinformatics-de/studyforrest-data-annotations.git
